/* styling the grid so it wraps and creates even rows */
.board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 4px solid black;
}

/* calculating the 16x16 grid */
.cell {
  width: calc(100% / 16);
  height: calc(100% / 16);
}

/* hoverstate for "drawing" */
.cell:hover {
  background-color: black;
}

/* style the title- "etch a sketch"*/
.header {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 15px;
}
/* align grid in the center */
.content {
  display: flex;
  justify-content: center;
}

/* style for the header buttons */
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
