.board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}
.cell {
  width: calc(100% / 16);
  height: calc(100% / 16);
}

.cell:hover {
  background-color: black;
}
.header {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 15px;
}

.content {
  display: flex;
  justify-content: center;
}
